<% if @article.errors.any? %>
    <h3> Please correct the below errors </h3>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @article do |x| %>
    <p>
        <%= x.label :title %> <br>
        <%= x.text_field :title %> 
    </p>
    <p>
        <%= x.label :description %> <br>
        <%= x.text_area :description %>
    </p>
    <p>
       <%= x.submit %> 
    </p>
<% end %>

<p>
    <%= link_to 'Back to Articles listing', articles_path %>
</p>