<h1> Create New Article </h1>

<%= form_for @article do |x| %>
    <p>
        <%= x.label :title %> <br>
        <%= x.text_field :title %> 
    </p>
    <p>
        <%= x.label :description %> <br>
        <%= x.text_area :description %>
    </p>
    <p>
       <%= x.submit %> 
    </p>
<% end %>